.reviews__container {
    background-color: #edece8;
    padding-top: 80px;
    display: block;
    padding: 5px 5px;
}

.reviews {
    min-width: 100%;
}

@media only screen and (min-width: 600px) {
    h2 {
        padding-top: 25px;
    }
}
